<div class="jumbotron">
  <p class="lead">
    Enter your Massachusetts address.
  </p>
  <form class="form-horizontal" ng-submit="validateAddress()">
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" id="street" class="form-control" ng-model="street">
    </div>
    <div class="form-group">
      <label for="town">Town</label>
      <input type="text" id="town" class="form-control" ng-model="town">
    </div>
    <div class="form-group">
      <label for="zip">Zip Code</label>
      <input type="text" id="zip" class="form-control" ng-model="zip">
    </div>
    <input type="submit" class="btn btn-success" ng-href="#/" vale="Submit">
  </form>
  <p></p>
</div>

<!-- <div class="row marketing">
  <h4>Some shit</h4>
  <p>
    Empowering you one election at a time.
  </p>

</div>
 -->